@using TicketSystem.Entities
@using TicketSystem.WebApp.Models
@model List<Ticket>
@{
    Users user = CurrentSession.user;
}
@foreach (Ticket item in Model)
{
    <div class="media">
        <div class="media-left media-top">
            <div class="media-object">
                <span class="glyphicon glyphicon-comment"></span>
            </div>
        </div>
        <div class="media-body">
            <div>
                <span class="col-md-10" id="ticket_text_@item.Id" contenteditable="false">
                    @item.Text
                </span>
                @if (user != null && user.Id == item.Owner.Id)
                {
                    <span class="col-md-2 text-right">
                        <button type="button" class="btn btn-warning btn-xs" data-edit-mode="false" onclick="doComment(this,'edit_clicked',@item.Id,'#ticket_text_@item.Id');">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" onclick="doComment(this,'delete_clicked',@item.Id);">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                }
                <small class="col-md-12 text-right">
                    <span class="glyphicon glyphicon-time"></span> @item.ModifiedOn &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.Hidden(item.ModifiedUser.ToString())
                </small>
            </div>
        </div>
    </div>
}
